
<div class="mainbackground">
    <nav class="navbar navbar-expand-lg nav-bar default">
      <button class="navbar-toggler menutogglebtn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <strong class="material-icons menutoggle">START</strong>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rooms">Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reservation">Reservation</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="#aboutdev" data-toggle="modal">
            <button class="btn btn-danger" type="button">About Dev</button>
          </a>
        </form>
      </div>
    </nav>





    <div id="aboutdev" class="modal fade modalbody" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" align="center"> APP DEVELOPED BY....</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-deck">
            <div class="card mb-4">
              <div class="view overlay checkroom">
                <!-- <img class="img-fluid imgsize" src="../assets/rooms/superior.jpg" alt="Card image cap"> -->
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <h4 class="card-title">Lamin Gitteh</h4>
                </div>
                <p class="card-text">BIU - bla bla bla bla.</p>
              </div>
              <div class="card-footer">
                <a href="https://www.github.com/laminry" target="_blank">
                  <button type="button" class="btn btn-danger btn-md btn-block">GITHUB</button>
                </a>
              </div>
            </div>
    
            <div class="card mb-4">
              <div class="view overlay checkroom">
                <!-- <img class="img-fluid imgsize" src="../assets/rooms/executive.jpg" alt="Card image cap"> -->
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Amelia</h4>
                <p class="card-text">BIU - bla bla bla bla.</p>
              </div>
              <div class="card-footer">
                <a href="https://www.github.com/ameliandrini" target="_blank">
                  <button type="button" class="btn btn-danger btn-md btn-block">GITHUB</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>