<div class="row mainbody">
  <div class="col-sm-6 formholer">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">RESERVATION</h5>
        <div class="container formcontainer">
          <div class="innerform">
            <form #reservationform="ngForm" (ngSubmit)="reservationinfo(reservationform)">

              <div class="form-group" [class.has-error]="inputname.invalid && inputname.touched">
                <label for="name" class="control-label">Full Name</label>
                <input id="name" required type="text" class="form-control" name="name" [(ngModel)]="guessbooking.name" #inputname="ngModel">
                <span class="help-block" *ngIf="inputname.invalid && inputname.touched">
                  Sorry! Guess name is required
                </span>
              </div>

              <div class="form-group" [class.has-error]="inputemail.invalid && inputemail.touched">
                <label for="email" class="control-label">Email</label>
                <input id="email" required type="text" class="form-control" name="email" [(ngModel)]="guessbooking.email" #inputemail="ngModel">
                <span class="help-block" *ngIf="inputemail.invalid && inputemail.touched">
                  Sorry! E-mail Address is required
                </span>
              </div>


              <div class="form-group" [class.has-error]="inputpassid.invalid && inputpassid.touched">
                <label for="passid" class="control-label">Passport / ID</label>
                <input id="passid" required type="text" class="form-control" name="passid" [(ngModel)]="guessbooking.passid" #inputpassid="ngModel">
                <span class="help-block" *ngIf="inputpassid.invalid && inputpassid.touched">
                  Sorry! Passport or ID is required
                </span>
              </div>


              <div class="form-group" [class.has-error]="inputroom.invalid && inputroom.touched">
                <label for="roomtype">Room Type</label>
                <select class="form-control col-sm-12" id="roomtype" required name="roomtype" [(ngModel)]="guessbooking.roomtype" #inputroom="ngModel">
                  <option>Deluxe Room</option>
                  <option>Superior Room</option>
                  <option>Executive Room</option>
                  <option>Cabana</option>
                  <option>Master Suite</option>
                  <option>Premier Room</option>
                  <option>Studio Room</option>
                  <option>King Room</option>
                  <option>Queen Room</option>
                </select>
                <span class="help-block" *ngIf="inputroom.invalid && inputroom.touched">
                  Sorry! A room is required.
                </span>
              </div>


              <div class="form-group" [class.has-error]="incheckin.invalid && incheckin.touched">
                <label for="checkin">Check In-Date</label>
                <input type="date" class="form-control col-sm-12" required  id="checkin" placeholder="yyyy-mm-dd" name="Check In-Date" [(ngModel)]="guessbooking.checkin"
                  #incheckin="ngModel">
                <span class="help-block" *ngIf="incheckin.invalid && incheckin.touched">
                  Sorry! Check-in date is required.
                </span>
              </div>


              <div class="form-group" [class.has-error]="inputcheckout.invalid && inputcheckout.touched">
                <label for="checkout">Check Out-Date</label>
                <input type="date" class="form-control col-sm-12" required id="checkout" placeholder="yyyy-mm-dd" name="Check Out-Date" [(ngModel)]="guessbooking.checkout"
                  #inputcheckout="ngModel">
                <span class="help-block" *ngIf="inputcheckout.invalid && inputcheckout.touched">
                  Sorry! Check-Out date is required.
                </span>
              </div>


              <div class="form-group" [class.has-error]="inputnoadults.invalid && inputnoadults.touched">
                <label for="noadults">No. Adults</label>
                <select class="form-control col-sm-12" required id="noadults" name="No. Adults" [(ngModel)]="guessbooking.noadults" #inputnoadults="ngModel">
                  <span class="help-block" *ngIf="inputnoadults.invalid && inputnoadults.touched">
                    Sorry! Number is Adults required.
                  </span>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>


              <div class="form-group" [class.has-error]="inputkids.invalid && inputkids.touched">
                <label for="nochildren">No. Children</label>
                <select class="form-control col-sm-12" required id="nochildren" name="No. Children" [(ngModel)]="guessbooking.nochildren" #inputkids="ngModel">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <span class="help-block" *ngIf="inputkids.invalid && inputkids.touched">
                  Sorry! Number is kids required.
                </span>
              </div>


              <div class="form-group">
                <label for="additional">Additional</label>
                <textarea class="form-control col-sm-12" rows="5" id="additional" name="Additional Request" [(ngModel)]="guessbooking.additional">
              </textarea>
              </div>


              <button type="submit" class="btn btn-success" [disabled]="reservationform.invalid">
                Book Now
              </button>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 formholer">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">RESERVATION CENTER</h5>
        <p class="card-text">Kindly contact us for any changes requires. Only availble 3 nights before checkin.</p>
        <a href="#" class="btn btn-danger" routerLink="/rooms">CHECK OUR ROOMS</a>
      </div>
    </div>
    <br>
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <h5 class="card-title">CONTACT US</h5>
        <p class="card-text">Kindly contact us for any changes requires. Only availble 3 nights before checkin.</p>
        <a href="#" class="btn btn-danger" routerLink="/rooms">CHECK OUR ROOMS</a>
      </div>
    </div>

    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <h5 class="card-title">CONTACT US</h5>
        {{reservationform.value | json}}
      </div>
    </div>

  </div>
</div>