<div class="container">
  <div class="jumbotron infopanel" align="center">
    <h1 id="hd">Sweet Residence</h1>
    <p id="motto">We offer high-quality
    service at affordable prices. Our team pays attention at every detail in order to offer its guests maximum comfort during
    their business or holiday trips. Convenience and cosines are our priorities and customer satisfaction – our major</p>
  </div>

</div>


<div class="mainbody">
  <div class="container-fluid holder">
    <div class="row">
      <div class="card-deck mb-2 col-sm-4 space" *ngFor="let room of rooms">
        <div class="card">
          <img class="card-img-top imgsize" src="{{room.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{room.roomtype}}</h5>
            <p class="card-text">{{room.description}}</p>
          </div>
          <div class="card-footer">
            <div class="btn-group downbtn">
              <button type="button" class="btn btn-default btn-md">
                <strong>Rp: {{room.price}}</strong>
              </button>&nbsp;&nbsp;
              <button type="button" class="btn btn-danger btn-md btn-block" (click)="bookNow(bookInfo.id)">BOOK NOW</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
